


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."accept_device_share_invitation"("p_share_id" "uuid") RETURNS "uuid"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
declare
  v_device_id uuid;
begin
  update public.device_shares ds
  set
    status = 'accepted',
    accepted_at = now()
  where ds.id = p_share_id
    and ds.shared_with_user_id = auth.uid()
    and ds.status = 'pending'
    and ds.revoked_at is null
  returning ds.device_id into v_device_id;

  if v_device_id is null then
    raise exception 'Invitaci├│n no v├ílida';
  end if;

  return v_device_id;
end;
$$;


ALTER FUNCTION "public"."accept_device_share_invitation"("p_share_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."cleanup_old_readings"() RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
begin
  delete from public.readings
  where ts < now() - interval '31 days';
end;
$$;


ALTER FUNCTION "public"."cleanup_old_readings"() OWNER TO "postgres";


COMMENT ON FUNCTION "public"."cleanup_old_readings"() IS 'Elimina lecturas antiguas y mantiene solo los ├║ltimos 31 d├¡as.';



CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
begin
  insert into public.profiles (
    id,
    email,
    first_name,
    last_name
  )
  values (
    new.id,
    new.email,
    coalesce(new.raw_user_meta_data->>'first_name', ''),
    coalesce(new.raw_user_meta_data->>'last_name', '')
  );
  return new;
end;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."invite_device_share_by_email"("p_device_id" "uuid", "p_email" "text") RETURNS "uuid"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public', 'auth'
    AS $$
declare
  v_owner_id uuid;
  v_target_user_id uuid;
  v_share_id uuid;
  v_email text;
begin
  v_email := lower(trim(p_email));

  if v_email is null or v_email = '' then
    raise exception 'Correo no v├ílido';
  end if;

  select d.owner_id
  into v_owner_id
  from public.devices d
  where d.id = p_device_id;

  if v_owner_id is null then
    raise exception 'Dispositivo no encontrado';
  end if;

  if v_owner_id <> auth.uid() then
    raise exception 'Solo el propietario puede invitar usuarios';
  end if;

  select u.id
  into v_target_user_id
  from auth.users u
  where lower(trim(u.email)) = v_email
  limit 1;

  if v_target_user_id is null then
    raise exception 'No existe ning├║n usuario con ese correo';
  end if;

  if v_target_user_id = auth.uid() then
    raise exception 'No puedes invitarte a ti mismo';
  end if;

  insert into public.profiles (id, email)
  values (v_target_user_id, v_email)
  on conflict (id)
  do update set email = excluded.email;

  select ds.id
  into v_share_id
  from public.device_shares ds
  where ds.device_id = p_device_id
    and ds.shared_with_user_id = v_target_user_id
    and ds.status in ('pending', 'accepted')
    and ds.revoked_at is null
  limit 1;

  if v_share_id is not null then
    return v_share_id;
  end if;

  insert into public.device_shares (
    device_id,
    owner_id,
    shared_with_user_id,
    shared_with_email,
    status
  )
  values (
    p_device_id,
    auth.uid(),
    v_target_user_id,
    v_email,
    'pending'
  )
  returning id into v_share_id;

  return v_share_id;
end;
$$;


ALTER FUNCTION "public"."invite_device_share_by_email"("p_device_id" "uuid", "p_email" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."list_my_pending_device_invitations"() RETURNS TABLE("id" "uuid", "device_id" "uuid", "device_name" "text", "owner_id" "uuid", "owner_name" "text", "shared_with_email" "text", "created_at" timestamp with time zone)
    LANGUAGE "sql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  select
    ds.id,
    ds.device_id,
    d.name as device_name,
    ds.owner_id,
    trim(coalesce(p.first_name, '') || ' ' || coalesce(p.last_name, '')) as owner_name,
    ds.shared_with_email,
    ds.created_at
  from public.device_shares ds
  join public.devices d on d.id = ds.device_id
  left join public.profiles p on p.id = ds.owner_id
  where ds.shared_with_user_id = auth.uid()
    and ds.status = 'pending'
    and ds.revoked_at is null
  order by ds.created_at desc;
$$;


ALTER FUNCTION "public"."list_my_pending_device_invitations"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."reject_device_share_invitation"("p_share_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
begin
  update public.device_shares ds
  set status = 'rejected'
  where ds.id = p_share_id
    and ds.shared_with_user_id = auth.uid()
    and ds.status = 'pending'
    and ds.revoked_at is null;

  if not found then
    raise exception 'Invitaci├│n no v├ílida';
  end if;
end;
$$;


ALTER FUNCTION "public"."reject_device_share_invitation"("p_share_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."sync_home_share_devices"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
begin
  if new.status = 'accepted' then
    insert into public.device_shares (
      device_id,
      owner_id,
      shared_with_user_id,
      shared_with_email,
      status,
      accepted_at,
      revoked_at,
      created_at
    )
    select
      d.id,
      d.owner_id,
      new.shared_with_user_id,
      new.shared_with_email,
      'accepted',
      coalesce(new.accepted_at, timezone('utc', now())),
      null,
      timezone('utc', now())
    from public.devices d
    where d.home_id = new.home_id
    on conflict (device_id, shared_with_user_id)
    do update set
      owner_id = excluded.owner_id,
      shared_with_email = excluded.shared_with_email,
      status = 'accepted',
      accepted_at = excluded.accepted_at,
      revoked_at = null;
  elsif new.status in ('revoked', 'rejected') then
    update public.device_shares ds
    set status = new.status,
        revoked_at = timezone('utc', now())
    from public.devices d
    where d.id = ds.device_id
      and d.home_id = new.home_id
      and ds.shared_with_user_id = new.shared_with_user_id
      and ds.owner_id = new.owner_id;
  end if;

  return new;
end;
$$;


ALTER FUNCTION "public"."sync_home_share_devices"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."sync_new_home_device_shares"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
begin
  if new.home_id is not null then
    insert into public.device_shares (
      device_id,
      owner_id,
      shared_with_user_id,
      shared_with_email,
      status,
      accepted_at,
      revoked_at,
      created_at
    )
    select
      new.id,
      new.owner_id,
      hs.shared_with_user_id,
      hs.shared_with_email,
      'accepted',
      coalesce(hs.accepted_at, timezone('utc', now())),
      null,
      timezone('utc', now())
    from public.home_shares hs
    where hs.home_id = new.home_id
      and hs.status = 'accepted'
    on conflict (device_id, shared_with_user_id)
    do update set
      owner_id = excluded.owner_id,
      shared_with_email = excluded.shared_with_email,
      status = 'accepted',
      accepted_at = excluded.accepted_at,
      revoked_at = null;
  end if;

  return new;
end;
$$;


ALTER FUNCTION "public"."sync_new_home_device_shares"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."sync_profile_email_from_auth"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public', 'auth'
    AS $$
begin
  insert into public.profiles (id, email)
  values (new.id, lower(trim(new.email)))
  on conflict (id)
  do update set email = excluded.email;

  return new;
end;
$$;


ALTER FUNCTION "public"."sync_profile_email_from_auth"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."user_can_access_device"("p_device_id" "uuid") RETURNS boolean
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  select exists (
    select 1
    from public.devices d
    where d.id = p_device_id
      and (
        d.owner_id = auth.uid()
        or exists (
          select 1
          from public.device_shares ds
          where ds.device_id = d.id
            and ds.shared_with_user_id = auth.uid()
            and ds.status = 'accepted'
            and ds.revoked_at is null
        )
      )
  );
$$;


ALTER FUNCTION "public"."user_can_access_device"("p_device_id" "uuid") OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."device_automations" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "device_id" "uuid" NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "type" "text" NOT NULL,
    "enabled" boolean DEFAULT true NOT NULL,
    "config" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "device_automations_type_check" CHECK (("type" = ANY (ARRAY['schedule'::"text", 'alarm'::"text", 'safety'::"text", 'timer'::"text"])))
);


ALTER TABLE "public"."device_automations" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."device_shares" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "device_id" "uuid" NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "shared_with_user_id" "uuid",
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "accepted_at" timestamp with time zone,
    "revoked_at" timestamp with time zone,
    "shared_with_email" "text",
    CONSTRAINT "device_shares_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'accepted'::"text", 'rejected'::"text", 'revoked'::"text"])))
);


ALTER TABLE "public"."device_shares" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."devices" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "home_id" "uuid",
    "room_id" "uuid",
    "name" "text" NOT NULL,
    "device_type" "text" NOT NULL,
    "protocol" "text",
    "identifier" "text",
    "is_active" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "energy_today_wh" double precision DEFAULT 0,
    "energy_today_date" "date",
    "energy_base_total_wh" double precision,
    "owner_id" "uuid",
    "is_updating" boolean DEFAULT false,
    "update_started_at" timestamp with time zone
);


ALTER TABLE "public"."devices" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."home_safety_settings" (
    "home_id" "uuid" NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "max_total_consumption_wh" numeric
);


ALTER TABLE "public"."home_safety_settings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."home_shares" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "home_id" "uuid" NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "shared_with_user_id" "uuid" NOT NULL,
    "shared_with_email" "text" NOT NULL,
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "accepted_at" timestamp with time zone,
    "revoked_at" timestamp with time zone,
    CONSTRAINT "home_shares_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'accepted'::"text", 'rejected'::"text", 'revoked'::"text"])))
);


ALTER TABLE "public"."home_shares" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."homes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."homes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."incidents" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "home_id" "uuid",
    "device_id" "uuid",
    "ts" timestamp with time zone DEFAULT "now"() NOT NULL,
    "type" "text" NOT NULL,
    "severity" integer DEFAULT 1 NOT NULL,
    "message" "text",
    "is_acknowledged" boolean DEFAULT false NOT NULL,
    "is_resolved" boolean DEFAULT false NOT NULL
);


ALTER TABLE "public"."incidents" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "first_name" "text",
    "last_name" "text",
    "avatar_url" "text",
    "phone" "text",
    "favorite_home_id" "uuid",
    "email" "text",
    "unit_preferences" "jsonb" DEFAULT '{"power": "W", "energy": "kWh", "voltage": "V"}'::"jsonb",
    "notification_preferences" "jsonb" DEFAULT '{"sharing": true, "incidents": true, "device_status": true}'::"jsonb"
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."readings" (
    "id" bigint NOT NULL,
    "device_id" "uuid" NOT NULL,
    "ts" timestamp with time zone DEFAULT "now"() NOT NULL,
    "power_w" numeric,
    "energy_wh" numeric,
    "voltage_v" numeric,
    "meta" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL,
    "current_a" numeric
);


ALTER TABLE "public"."readings" OWNER TO "postgres";


ALTER TABLE "public"."readings" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."readings_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."rooms" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "home_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."rooms" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_push_tokens" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "token" "text" NOT NULL,
    "platform" "text" DEFAULT 'android'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "last_seen_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."user_push_tokens" OWNER TO "postgres";


ALTER TABLE ONLY "public"."device_automations"
    ADD CONSTRAINT "device_automations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."device_shares"
    ADD CONSTRAINT "device_shares_device_id_shared_with_user_id_key" UNIQUE ("device_id", "shared_with_user_id");



ALTER TABLE ONLY "public"."device_shares"
    ADD CONSTRAINT "device_shares_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."devices"
    ADD CONSTRAINT "devices_home_protocol_identifier_unique" UNIQUE ("home_id", "protocol", "identifier");



ALTER TABLE ONLY "public"."devices"
    ADD CONSTRAINT "devices_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."home_safety_settings"
    ADD CONSTRAINT "home_safety_settings_pkey" PRIMARY KEY ("home_id");



ALTER TABLE ONLY "public"."home_shares"
    ADD CONSTRAINT "home_shares_home_id_shared_with_user_id_key" UNIQUE ("home_id", "shared_with_user_id");



ALTER TABLE ONLY "public"."home_shares"
    ADD CONSTRAINT "home_shares_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."homes"
    ADD CONSTRAINT "homes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."incidents"
    ADD CONSTRAINT "incidents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."readings"
    ADD CONSTRAINT "readings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."rooms"
    ADD CONSTRAINT "rooms_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_push_tokens"
    ADD CONSTRAINT "user_push_tokens_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_push_tokens"
    ADD CONSTRAINT "user_push_tokens_token_key" UNIQUE ("token");



CREATE UNIQUE INDEX "devices_home_protocol_identifier_uidx" ON "public"."devices" USING "btree" ("home_id", "protocol", "identifier");



CREATE INDEX "idx_device_automations_device_id" ON "public"."device_automations" USING "btree" ("device_id");



CREATE INDEX "idx_device_automations_device_type" ON "public"."device_automations" USING "btree" ("device_id", "type");



CREATE INDEX "idx_device_shares_device_id" ON "public"."device_shares" USING "btree" ("device_id");



CREATE INDEX "idx_device_shares_shared_with_email" ON "public"."device_shares" USING "btree" ("lower"("shared_with_email"));



CREATE INDEX "idx_device_shares_shared_with_user_id" ON "public"."device_shares" USING "btree" ("shared_with_user_id");



CREATE INDEX "idx_user_push_tokens_user_id" ON "public"."user_push_tokens" USING "btree" ("user_id");



CREATE UNIQUE INDEX "profiles_email_unique_idx" ON "public"."profiles" USING "btree" ("lower"("email"));



CREATE OR REPLACE TRIGGER "device_shares_push" AFTER INSERT ON "public"."device_shares" FOR EACH ROW EXECUTE FUNCTION "supabase_functions"."http_request"('https://eumoizstcabjryqzqvvg.supabase.co/functions/v1/send-push', 'POST', '{"Content-type":"application/json"}', '{}', '5000');



CREATE OR REPLACE TRIGGER "incidents_push" AFTER INSERT ON "public"."incidents" FOR EACH ROW EXECUTE FUNCTION "supabase_functions"."http_request"('https://eumoizstcabjryqzqvvg.supabase.co/functions/v1/send-push', 'POST', '{"Content-type":"application/json"}', '{}', '5000');



CREATE OR REPLACE TRIGGER "trg_sync_home_share_devices" AFTER INSERT OR UPDATE ON "public"."home_shares" FOR EACH ROW EXECUTE FUNCTION "public"."sync_home_share_devices"();



CREATE OR REPLACE TRIGGER "trg_sync_new_home_device_shares" AFTER INSERT OR UPDATE OF "home_id" ON "public"."devices" FOR EACH ROW EXECUTE FUNCTION "public"."sync_new_home_device_shares"();



ALTER TABLE ONLY "public"."device_automations"
    ADD CONSTRAINT "device_automations_device_id_fkey" FOREIGN KEY ("device_id") REFERENCES "public"."devices"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."device_automations"
    ADD CONSTRAINT "device_automations_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."device_shares"
    ADD CONSTRAINT "device_shares_device_id_fkey" FOREIGN KEY ("device_id") REFERENCES "public"."devices"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."device_shares"
    ADD CONSTRAINT "device_shares_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."device_shares"
    ADD CONSTRAINT "device_shares_shared_with_user_id_fkey" FOREIGN KEY ("shared_with_user_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."devices"
    ADD CONSTRAINT "devices_home_id_fkey" FOREIGN KEY ("home_id") REFERENCES "public"."homes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."devices"
    ADD CONSTRAINT "devices_room_id_fkey" FOREIGN KEY ("room_id") REFERENCES "public"."rooms"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."home_safety_settings"
    ADD CONSTRAINT "home_safety_settings_home_id_fkey" FOREIGN KEY ("home_id") REFERENCES "public"."homes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."home_shares"
    ADD CONSTRAINT "home_shares_home_id_fkey" FOREIGN KEY ("home_id") REFERENCES "public"."homes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."home_shares"
    ADD CONSTRAINT "home_shares_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."home_shares"
    ADD CONSTRAINT "home_shares_shared_with_user_id_fkey" FOREIGN KEY ("shared_with_user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."homes"
    ADD CONSTRAINT "homes_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."incidents"
    ADD CONSTRAINT "incidents_device_id_fkey" FOREIGN KEY ("device_id") REFERENCES "public"."devices"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."incidents"
    ADD CONSTRAINT "incidents_home_id_fkey" FOREIGN KEY ("home_id") REFERENCES "public"."homes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."readings"
    ADD CONSTRAINT "readings_device_id_fkey" FOREIGN KEY ("device_id") REFERENCES "public"."devices"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."rooms"
    ADD CONSTRAINT "rooms_home_id_fkey" FOREIGN KEY ("home_id") REFERENCES "public"."homes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_push_tokens"
    ADD CONSTRAINT "user_push_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE "public"."device_automations" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "device_automations_delete_if_accessible" ON "public"."device_automations" FOR DELETE USING ("public"."user_can_access_device"("device_id"));



CREATE POLICY "device_automations_delete_own" ON "public"."device_automations" FOR DELETE USING ((("owner_id" = "auth"."uid"()) AND (EXISTS ( SELECT 1
   FROM "public"."devices" "d"
  WHERE (("d"."id" = "device_automations"."device_id") AND ("d"."owner_id" = "auth"."uid"()))))));



CREATE POLICY "device_automations_insert_if_accessible" ON "public"."device_automations" FOR INSERT WITH CHECK ("public"."user_can_access_device"("device_id"));



CREATE POLICY "device_automations_insert_own" ON "public"."device_automations" FOR INSERT WITH CHECK ((("owner_id" = "auth"."uid"()) AND (EXISTS ( SELECT 1
   FROM "public"."devices" "d"
  WHERE (("d"."id" = "device_automations"."device_id") AND ("d"."owner_id" = "auth"."uid"()))))));



CREATE POLICY "device_automations_select_if_accessible" ON "public"."device_automations" FOR SELECT USING ("public"."user_can_access_device"("device_id"));



CREATE POLICY "device_automations_select_own" ON "public"."device_automations" FOR SELECT USING ((("owner_id" = "auth"."uid"()) AND (EXISTS ( SELECT 1
   FROM "public"."devices" "d"
  WHERE (("d"."id" = "device_automations"."device_id") AND ("d"."owner_id" = "auth"."uid"()))))));



CREATE POLICY "device_automations_update_if_accessible" ON "public"."device_automations" FOR UPDATE USING ("public"."user_can_access_device"("device_id")) WITH CHECK ("public"."user_can_access_device"("device_id"));



CREATE POLICY "device_automations_update_own" ON "public"."device_automations" FOR UPDATE USING ((("owner_id" = "auth"."uid"()) AND (EXISTS ( SELECT 1
   FROM "public"."devices" "d"
  WHERE (("d"."id" = "device_automations"."device_id") AND ("d"."owner_id" = "auth"."uid"())))))) WITH CHECK ((("owner_id" = "auth"."uid"()) AND (EXISTS ( SELECT 1
   FROM "public"."devices" "d"
  WHERE (("d"."id" = "device_automations"."device_id") AND ("d"."owner_id" = "auth"."uid"()))))));



ALTER TABLE "public"."device_shares" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "device_shares_insert_owner" ON "public"."device_shares" FOR INSERT WITH CHECK (((EXISTS ( SELECT 1
   FROM "public"."devices" "d"
  WHERE (("d"."id" = "device_shares"."device_id") AND ("d"."owner_id" = "auth"."uid"())))) AND ("owner_id" = "auth"."uid"())));



CREATE POLICY "device_shares_select_owner" ON "public"."device_shares" FOR SELECT USING (((EXISTS ( SELECT 1
   FROM "public"."devices" "d"
  WHERE (("d"."id" = "device_shares"."device_id") AND ("d"."owner_id" = "auth"."uid"())))) OR ("shared_with_user_id" = "auth"."uid"())));



CREATE POLICY "device_shares_select_owner_or_target" ON "public"."device_shares" FOR SELECT USING ((("owner_id" = "auth"."uid"()) OR ("shared_with_user_id" = "auth"."uid"())));



CREATE POLICY "device_shares_update_owner" ON "public"."device_shares" FOR UPDATE USING ((("owner_id" = "auth"."uid"()) OR ("shared_with_user_id" = "auth"."uid"()))) WITH CHECK ((("owner_id" = "auth"."uid"()) OR ("shared_with_user_id" = "auth"."uid"())));



ALTER TABLE "public"."devices" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "devices_crud_if_home_own" ON "public"."devices" USING ((EXISTS ( SELECT 1
   FROM "public"."homes" "h"
  WHERE (("h"."id" = "devices"."home_id") AND ("h"."owner_id" = "auth"."uid"()))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."homes" "h"
  WHERE (("h"."id" = "devices"."home_id") AND ("h"."owner_id" = "auth"."uid"())))));



CREATE POLICY "devices_crud_if_owner" ON "public"."devices" USING (("owner_id" = "auth"."uid"())) WITH CHECK (("owner_id" = "auth"."uid"()));



CREATE POLICY "devices_select_if_accessible" ON "public"."devices" FOR SELECT USING ("public"."user_can_access_device"("id"));



CREATE POLICY "home_safety_all_access" ON "public"."home_safety_settings" TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "home_safety_insert_owner" ON "public"."home_safety_settings" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."homes"
  WHERE (("homes"."id" = "home_safety_settings"."home_id") AND ("homes"."owner_id" = "auth"."uid"())))));



CREATE POLICY "home_safety_select_owner" ON "public"."home_safety_settings" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."homes"
  WHERE (("homes"."id" = "home_safety_settings"."home_id") AND ("homes"."owner_id" = "auth"."uid"())))));



ALTER TABLE "public"."home_safety_settings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "home_safety_update_owner" ON "public"."home_safety_settings" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."homes"
  WHERE (("homes"."id" = "home_safety_settings"."home_id") AND ("homes"."owner_id" = "auth"."uid"()))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."homes"
  WHERE (("homes"."id" = "home_safety_settings"."home_id") AND ("homes"."owner_id" = "auth"."uid"())))));



ALTER TABLE "public"."home_shares" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "home_shares_delete_owner" ON "public"."home_shares" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "home_shares_insert_owner" ON "public"."home_shares" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "home_shares_select_owner_or_guest" ON "public"."home_shares" FOR SELECT USING ((("auth"."uid"() = "owner_id") OR ("auth"."uid"() = "shared_with_user_id")));



CREATE POLICY "home_shares_update_owner_or_guest" ON "public"."home_shares" FOR UPDATE USING ((("auth"."uid"() = "owner_id") OR ("auth"."uid"() = "shared_with_user_id"))) WITH CHECK ((("auth"."uid"() = "owner_id") OR ("auth"."uid"() = "shared_with_user_id")));



ALTER TABLE "public"."homes" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "homes_crud_own" ON "public"."homes" USING (("auth"."uid"() = "owner_id")) WITH CHECK (("auth"."uid"() = "owner_id"));



ALTER TABLE "public"."incidents" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "incidents_crud_if_device_owner" ON "public"."incidents" USING (((EXISTS ( SELECT 1
   FROM "public"."devices" "d"
  WHERE (("d"."id" = "incidents"."device_id") AND ("d"."owner_id" = "auth"."uid"())))) OR (("home_id" IS NOT NULL) AND (EXISTS ( SELECT 1
   FROM "public"."homes" "h"
  WHERE (("h"."id" = "incidents"."home_id") AND ("h"."owner_id" = "auth"."uid"()))))))) WITH CHECK (((EXISTS ( SELECT 1
   FROM "public"."devices" "d"
  WHERE (("d"."id" = "incidents"."device_id") AND ("d"."owner_id" = "auth"."uid"())))) OR (("home_id" IS NOT NULL) AND (EXISTS ( SELECT 1
   FROM "public"."homes" "h"
  WHERE (("h"."id" = "incidents"."home_id") AND ("h"."owner_id" = "auth"."uid"())))))));



CREATE POLICY "incidents_delete_if_accessible" ON "public"."incidents" FOR DELETE USING ("public"."user_can_access_device"("device_id"));



CREATE POLICY "incidents_insert_if_accessible" ON "public"."incidents" FOR INSERT WITH CHECK ("public"."user_can_access_device"("device_id"));



CREATE POLICY "incidents_select_if_accessible" ON "public"."incidents" FOR SELECT USING ("public"."user_can_access_device"("device_id"));



CREATE POLICY "incidents_update_if_accessible" ON "public"."incidents" FOR UPDATE USING ("public"."user_can_access_device"("device_id")) WITH CHECK ("public"."user_can_access_device"("device_id"));



ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "profiles_insert_own" ON "public"."profiles" FOR INSERT WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "profiles_select_authenticated_basic" ON "public"."profiles" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "profiles_update_own" ON "public"."profiles" FOR UPDATE USING (("auth"."uid"() = "id")) WITH CHECK (("auth"."uid"() = "id"));



ALTER TABLE "public"."readings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "readings_crud_if_device_owner" ON "public"."readings" USING ((EXISTS ( SELECT 1
   FROM "public"."devices" "d"
  WHERE (("d"."id" = "readings"."device_id") AND ("d"."owner_id" = "auth"."uid"()))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."devices" "d"
  WHERE (("d"."id" = "readings"."device_id") AND ("d"."owner_id" = "auth"."uid"())))));



CREATE POLICY "readings_insert_if_accessible" ON "public"."readings" FOR INSERT WITH CHECK ("public"."user_can_access_device"("device_id"));



CREATE POLICY "readings_select_if_accessible" ON "public"."readings" FOR SELECT USING ("public"."user_can_access_device"("device_id"));



ALTER TABLE "public"."rooms" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "rooms_crud_if_home_own" ON "public"."rooms" USING ((EXISTS ( SELECT 1
   FROM "public"."homes" "h"
  WHERE (("h"."id" = "rooms"."home_id") AND ("h"."owner_id" = "auth"."uid"()))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."homes" "h"
  WHERE (("h"."id" = "rooms"."home_id") AND ("h"."owner_id" = "auth"."uid"())))));



ALTER TABLE "public"."user_push_tokens" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "user_push_tokens_delete_own" ON "public"."user_push_tokens" FOR DELETE TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "user_push_tokens_insert_own" ON "public"."user_push_tokens" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "user_push_tokens_select_own" ON "public"."user_push_tokens" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "user_push_tokens_update_own" ON "public"."user_push_tokens" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."accept_device_share_invitation"("p_share_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."accept_device_share_invitation"("p_share_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."accept_device_share_invitation"("p_share_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."cleanup_old_readings"() TO "anon";
GRANT ALL ON FUNCTION "public"."cleanup_old_readings"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."cleanup_old_readings"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."invite_device_share_by_email"("p_device_id" "uuid", "p_email" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."invite_device_share_by_email"("p_device_id" "uuid", "p_email" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."invite_device_share_by_email"("p_device_id" "uuid", "p_email" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."list_my_pending_device_invitations"() TO "anon";
GRANT ALL ON FUNCTION "public"."list_my_pending_device_invitations"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."list_my_pending_device_invitations"() TO "service_role";



GRANT ALL ON FUNCTION "public"."reject_device_share_invitation"("p_share_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."reject_device_share_invitation"("p_share_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."reject_device_share_invitation"("p_share_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."sync_home_share_devices"() TO "anon";
GRANT ALL ON FUNCTION "public"."sync_home_share_devices"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."sync_home_share_devices"() TO "service_role";



GRANT ALL ON FUNCTION "public"."sync_new_home_device_shares"() TO "anon";
GRANT ALL ON FUNCTION "public"."sync_new_home_device_shares"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."sync_new_home_device_shares"() TO "service_role";



GRANT ALL ON FUNCTION "public"."sync_profile_email_from_auth"() TO "anon";
GRANT ALL ON FUNCTION "public"."sync_profile_email_from_auth"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."sync_profile_email_from_auth"() TO "service_role";



GRANT ALL ON FUNCTION "public"."user_can_access_device"("p_device_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."user_can_access_device"("p_device_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."user_can_access_device"("p_device_id" "uuid") TO "service_role";



GRANT ALL ON TABLE "public"."device_automations" TO "anon";
GRANT ALL ON TABLE "public"."device_automations" TO "authenticated";
GRANT ALL ON TABLE "public"."device_automations" TO "service_role";



GRANT ALL ON TABLE "public"."device_shares" TO "anon";
GRANT ALL ON TABLE "public"."device_shares" TO "authenticated";
GRANT ALL ON TABLE "public"."device_shares" TO "service_role";



GRANT ALL ON TABLE "public"."devices" TO "anon";
GRANT ALL ON TABLE "public"."devices" TO "authenticated";
GRANT ALL ON TABLE "public"."devices" TO "service_role";



GRANT ALL ON TABLE "public"."home_safety_settings" TO "anon";
GRANT ALL ON TABLE "public"."home_safety_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."home_safety_settings" TO "service_role";



GRANT ALL ON TABLE "public"."home_shares" TO "anon";
GRANT ALL ON TABLE "public"."home_shares" TO "authenticated";
GRANT ALL ON TABLE "public"."home_shares" TO "service_role";



GRANT ALL ON TABLE "public"."homes" TO "anon";
GRANT ALL ON TABLE "public"."homes" TO "authenticated";
GRANT ALL ON TABLE "public"."homes" TO "service_role";



GRANT ALL ON TABLE "public"."incidents" TO "anon";
GRANT ALL ON TABLE "public"."incidents" TO "authenticated";
GRANT ALL ON TABLE "public"."incidents" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."readings" TO "anon";
GRANT ALL ON TABLE "public"."readings" TO "authenticated";
GRANT ALL ON TABLE "public"."readings" TO "service_role";



GRANT ALL ON SEQUENCE "public"."readings_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."readings_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."readings_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."rooms" TO "anon";
GRANT ALL ON TABLE "public"."rooms" TO "authenticated";
GRANT ALL ON TABLE "public"."rooms" TO "service_role";



GRANT ALL ON TABLE "public"."user_push_tokens" TO "anon";
GRANT ALL ON TABLE "public"."user_push_tokens" TO "authenticated";
GRANT ALL ON TABLE "public"."user_push_tokens" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







